.intro {
  padding: 2rem;
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  h1 {
    margin-top: 0;
    text-align: left;
    color: #e90464;
    font-size: 2.5rem;
    font-weight: 700;

    a {
      line-height: 3rem;
      text-decoration: none;
      color: inherit;

      img {
        height: 4rem;
        margin-bottom: -1rem;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 2em;

    @media only screen and (max-width: 650px) {
      flex-direction: column;
      gap: 1em;
    }
  }

  p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  a {
    &.contribute {
      background-color: #e90464;
      color: #ffffff;
    }
    &.remove-underline {
      text-decoration: none;
    }
  }

  p.copyright-note {
    font-weight: bold;
    font-size: 1.2em;
  }
}

.credits {
  flex: 0 0 auto;
  font-size: 0.8rem;
}
