<div class="main">
  <div class="content">
    <div class="intro">
      <h1><a routerLink="/">Angular Logos</a></h1>
      <p>
        Welcome to Angular Logos a website dedicated to try and collect all logos, badges that are inspired on the original Angular logo.<br />
        The logos that can be found on this website can be related to a conference, MeetUp group, NPM package or anything else that exists
        within the Angular universe.
      </p>
      <hr />
      <p>
        Want to add your logo?<br />
        Create a Pull Request on our GitHub repo or file an issue.
      </p>
      <a
        class="contribute"
        mat-raised-button
        color="primary"
        href="https://github.com/maartentibau/angular-logos/compare"
        target="_blank"
        role="button"
        >Add your logo</a
      >
    </div>
    <div class="logo-list">
      <app-logos-list></app-logos-list>
    </div>
    <div class="credits">
      <hr />
      <p>
        Angular Logos - Created by <a href="https://mobile.twitter.com/maartentibau" target="_blank">Maarten Tibau</a> &amp;
        <a href="https://twitter.com/fmalcher01" target="_blank">Ferdinand Malcher</a><br />
        <br />
        <a href="https://angularlogos.com">GitHub (Gallery)</a> -
        <a href="https://github.com/maartentibau/angular-logos" target="_blank">GitHub (Logos)</a>
      </p>
    </div>
  </div>
</div>
