:host > div {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  max-width: 1440px;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.intro {
  h1 {
    margin-top: 0;
    text-align: left;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  padding: 20px;
  flex: 0 0 auto;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.logo-list {
  flex: 1 1 auto;
}

.credits {
  flex: 0 0 auto;
}
