:host > div {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
