<div class="main">
  <div class="content">
    <div class="intro">
      <h1><a routerLink="/">Angular Logos</a></h1>
      <p>
        This repo is dedicated to collect all the different kinds of Angular badges and logos.<br />
        This can be a logo from a conference, MeetUp, an NPM package, or whatever comes from the Angular universe.
      </p>
      <hr />
      <p>Want to add a logo? Create a Pull Request on GitHub or file an issue.</p>
      <a mat-raised-button color="primary" href="https://github.com/maartentibau/angular-logos/compare" target="_blank" role="button"
        >Create Pull Request</a
      >
    </div>
    <div class="logo-list">
      <app-logos-list></app-logos-list>
    </div>
    <div class="credits">
      <hr />
      <p class="small text-muted">
        Angular Logo Gallery<br />
        <a href="https://github.com/fmalcher/angular-logo-gallery">GitHub (Gallery)</a><br />
        <a href="https://github.com/maartentibau/angular-logos">GitHub (Logos)</a>
      </p>
    </div>
  </div>
</div>
