<div class="intro">
  <h1>
    <a routerLink="/">
      <img src="/assets/angular.png" alt="Angular Logo" />
      Angular Logos
    </a>
  </h1>
  <p>
    <strong>Welcome to Angular Logos</strong> – a website dedicated to collecting all logos and
    badges that are inspired by the original Angular logo.<br />
    The logos that can be found on this website can be related to conferences, Meetup groups, NPM
    packages or anything else that exists within the Angular universe.
  </p>
  <p class="copyright-note">
    Note: All logos on this site are the property of their respective owners.
  </p>
  <hr />
  <div class="actions">
    <div>
      <p>
        <strong>Want to add your logo?</strong><br />
        Create a Pull Request on our GitHub repo or file an issue.
      </p>
      <a
        class="contribute remove-underline"
        mat-raised-button
        color="primary"
        href="https://github.com/maartentibau/angular-logos/pulls"
        target="_blank"
        role="button"
        rel="noreferrer"
        >Add your logo</a
      >
    </div>
  </div>
</div>

<app-logos-list />

<div class="credits">
  <hr />
  <p>
    <strong>Angular Logos</strong> – Created with ❤️ by
    <a href="https://twitter.com/maartentibau" target="_blank" rel="noreferrer">Maarten Tibau</a>
    &amp;
    <a href="https://twitter.com/fmalcher01" target="_blank" rel="noreferrer">Ferdinand Malcher</a
    ><br />
    <br />
    <strong>GitHub: </strong> [<a
      href="https://github.com/maartentibau/angularlogoscom"
      target="_blank"
      rel="noreferrer"
      >Gallery</a
    >
    |
    <a href="https://github.com/maartentibau/angular-logos" target="_blank" rel="noreferrer"
      >Logos</a
    >]
  </p>
  <p>
    <strong
      >All logos on this site are the property of their respective owners. Please clear any
      copyright issues with the owners before using the logos.</strong
    >
  </p>
</div>
