:host {
  flex: 1 1 auto;
}

.result-count {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-gap: 20px;
  padding: 20px 0;
  justify-content: center;
}

.logo {
  width: 180px;
  display: grid;
  grid-gap: 10px;
  align-items: center;

  mat-card-content {
    text-align: center;

    img {
      height: 100px;
      max-width: 100%;
    }
  }

  mat-card-title {
    text-align: center;
    font-size: 1rem;
    padding: 0 10px;
  }

  mat-card-actions {
    margin: 0;
    text-align: right;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;

    mat-icon {
      font-size: 1.6rem;
    }
  }
}
