@use '@angular/material' as mat;
@include mat.core();

$palette: (
  50: #fce4ec,
  100: #f8bad1,
  200: #f38db2,
  300: #ef5e93,
  400: #ec387b,
  500: #e90463,
  600: #d80360,
  700: #c2025b,
  800: #ad0057,
  900: #880050,
  A100: #f8bad1,
  A200: #f38db2,
  A400: #ec387b,
  A700: #c2025b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$primary: mat.m2-define-palette($palette, 500);
$accent: mat.m2-define-palette($palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$crelan-material-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    density: 0
  )
);

@include mat.all-component-themes($crelan-material-theme);
