:host {
  display: block;
  margin: 3rem 0 1rem;
}

mat-form-field {
  margin: 0 5%;
  width: 90%;
  color: #c3002f;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  mat-label {
    color: #c3002f;
  }
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}
